#webPollBallot {
  width: 150px;
  background-color: #ccc;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.ballot-result {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.web-poll-percent-bar {
  display: flex;
  height: 30px;
  background-color: lightgreen;
}
.web-poll-percent-number {
  align-self: center;
}

p.web-poll-result-candidate {
  margin: 0 0 5px 0;
}

.web-poll-vote-error {
  background-color: white;
  padding: 10px
}

.web-poll-ballot-candidate-container {
  background-color: white;
  padding: 5px;
  margin-bottom: 5px;
}